<section class="container-card mx-auto">
  <div class="container mx-auto grid grid-cols-1 gap-4">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput />
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field> -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div><app-uploader /></div>
  </div>
</section>
